@media all {

body {
  /*background-color: #EFEFEF;
  background: -webkit-gradient(linear, 0 10, 0 100%, from(#fff), to(#ECECEC));
  background: -moz-linear-gradient(#fff, #ECECEC);*/
  background: linear-gradient(#fff, #ECECEC);
  color: black;

  font-family: 'Trebuchet MS', Calibri, Helvetica, sans-serif;
}

header, main, footer {
  width: 70%;
  max-width: 800px;
  min-width: 200px;
  /* next 2 lines center the content; see http://stackoverflow.com/a/18200048/6002174 */
  margin: auto;
  top: 0; left: 0; bottom: 0; right: 0;

  padding: 10px 20px 10px 20px;
  background-color: white;
  color: black;
}

header {
  margin-bottom: 40px;
}
header h1, header.jumbotron h1, header p, main h2 {
  color: #04378B;
}

footer {
  color: #3F3F3F; /* #2FB7EC cannot be used for text on white background; contrast is too low; #6F6F6F still fails at Level AAA */
  border-top: 2px solid #E41C3B;/*#2FB7EC*/
  border-bottom: 2px solid #E41C3B;
  margin-top: 40px;
}

header, h2 {
  border: 1px solid #DADADA;
  background-color: #F5F5F5;
  color: inherit;
}

h2 {
  margin-top: 40px;
  margin-right: -10px;
  margin-left: -10px;
  padding: 10px;
}

a:link/*, a:visited, a:hover, a:focus, a:active*/ {
  text-decoration: underline;
  color: #E41C3B; /* HdM's "hot pink" */
  background-color: transparent;
}
a:hover, a:focus, a:active {
  text-decoration: overline;
  color: #E41C3B;
  background-color: transparent;
}

iframe {
  border: none; /*replace frameborder attribute on iframe*/
}
iframe[src^="https://www.youtube.com/"] {
  margin-top: 10px;
}

ol#toc { counter-reset: module-num; list-style-type: none; margin-left: 0; padding-left: 0; }
ol#toc > li:before {content: /*"Module "*/ counter(module-num) ". "; counter-increment: module-num; }
ol#toc > li > ol { counter-reset: unit-num; list-style-type: none; }
ol#toc > li > ol > li:before { counter-increment: unit-num; content: counter(module-num) "." counter(unit-num) ". "; }

} /* END @media all*/


@media print {
body {
  background-color: white;
  color: black;
}
header, main, footer {
  width: 100%;
}
iframe[src^="https://www.youtube.com/"] {
  display: none;
}


} /* END @media print*/

